html { height:100%; }

body {
   margin: 0;
   padding: 0;
   background-color: white;
   width: 100%;
   height: 100%;
}

#content {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: white;
   position: relative;
}

#content-information {
   position: relative;
   width: 50%;
   height: 100%;
   float: left;
   background-color: white;
}

#content-image {
   position: relative;
   width: 50%;
   height: 100%;
   background-color: #89d0f0;
   background-image: url("../img/background-map.png");
   float: left;
}

#content-image-border {
   width: 96%;
   height: 95%;
   position: relative;
   border: white 1em solid;
}

#logo {
   height: 30%;
   display: block;
   margin: 0 auto;
   margin-top: 15px;
}

#IceCreamIcon {
   position: absolute;
   left: 49.5%;
   top: 45%;
   z-index: 100;
   height: 50px;
}

#info {
   width: 60%;
   display: block;
   margin: 0 auto;
}
#info ul {
   padding: 0;
}

.info-piece {
   list-style: none;
}

.info-piece img {
   width: 10%;
   display: block;
   margin: 0 auto;
}

.info-piece h3 {
   font-family: 'Lato', sans-serif;
   text-align: center;
   line-height: 10px;
}

.info-piece p {
   font-family: 'Roboto', sans-serif;
}

#social {
   padding-bottom: 15px;
   padding-left: 0;
}

#social li {
   display: inline-block;
   padding: 0 10px 0 10px;
}

#social li img {
   height: 40px;
}

#menu-link {
   display: block;
   width: 100px;
   background-color: #89d0f0;
   text-align: center;
   font-family: 'Lato', sans-serif;
   text-decoration: none;
   border-radius: 5px;
   font-size: 12pt;
   font-weight: 600;
   padding: 10px 0 10px 0;
   margin: 0 auto;
   margin-top: 25px;
}

/** Menu **/
#menu {
   width: 96%;
   text-align: left;
   display: block;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 10px;
}

#menu td, #menu th {
   font-family: 'Lato', sans-serif;
}

#menu td {
   font-weight: 300;
}

#menu td:last-child {
   text-align: right;
}

#menu th {
   font-weight: 700;
}

.Menu-Title {
   font-size: 16pt;
   color: #84449b;
}
