html { height:100%; }

body {
   margin: 0;
   padding: 0;
   background-color: white;
   width: 100%;
   height: 100%;
}

#content {
   width: 100%;
   max-width: 1200px;
   display: block;
   height: 100%;
   margin: 0 auto;
   padding: 0;
   background-color: white;
   position: relative;
}

#content-information {
   position: relative;
   width: 50%;
   height: 100%;
   float: left;
   background-color: white;
}

#content-image {
   position: relative;
   width: 50%;
   height: 100%;
   background-color: #89d0f0;
   background-image: url("../img/background-map.png");
   float: right;
}

#content-image-border {
   width: 96%;
   height: 95%;
   position: relative;
   border: white 1em solid;
}

#logo {
   height: 30%;
   min-height: 150px;
   display: block;
   margin: 0 auto;
   margin-top: 15px;
}

#IceCreamIcon {
   position: absolute;
   top: 50%;
   left: 51.5%;
   transform: translate(-51.5%, -50%);
   z-index: 100;
   height: 50px;
}

#info {
   width: 60%;
   display: block;
   margin: 0 auto;
}
#info ul {
   padding: 0;
}

.info-piece {
   list-style: none;
}

.info-piece img {
   width: 10%;
   display: block;
   margin: 0 auto;
}

.info-piece h3 {
   font-family: 'Lato', sans-serif;
   text-align: center;
   line-height: 10px;
}

.info-piece p {
   font-family: 'Roboto', sans-serif;
}

footer {
   width: 100%;
   margin: 0 auto;
   font-family: sans-serif;
   font-size: 10pt;
   text-align: center;
   margin-bottom: 10px;
   color: #b2b2b2;
}

#social {
   display: block;
   margin: 0 auto;
   margin-top: 30px;
   text-align: center;
   padding-bottom: 15px;
   padding-left: 0;
}

#social li {
   display: inline-block;
   padding: 0 10px 0 10px;
}

#social li img {
   height: 40px;
}

#menu-link {
   display: block;
   width: 100px;
   background-color: #89d0f0;
   text-align: center;
   font-family: 'Lato', sans-serif;
   text-decoration: none;
   border-radius: 5px;
   font-size: 12pt;
   font-weight: 600;
   padding: 10px 0 10px 0;
   margin: 0 auto;
   margin-top: 25px;
}
