html { height:100%; }

body {
   margin: 0;
   padding: 0;
   background-color: pink;
   width: 100%;
   height: 100%;
   background-image: url("../img/background-map.png");
   background-size: auto;
   background-repeat: no-repeat;
   text-align: center;
}

#content {
   background: #FBD3E9; /* fallback for old browsers */
   background: -webkit-linear-gradient(to bottom, rgba(241, 153, 193, 0.5), rgba(130, 69, 154, 1)); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to bottom, rgba(241, 153, 193, 0.5), rgba(130, 69, 154, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   width: 100%;
   height: 100%;
}

#logo {
   display: block;
   margin: 0 auto;
   width: 17%;
   min-width: 150px;
   padding: 0;
   padding-top: 40px;
   padding-bottom: 30px;
}

#info {
   width: 45%;
   background-color: white;
   margin: 0 auto;
   border-radius: 15px;
}

#info ul {
   list-style: none;
}

.info-piece {
   margin: 0 auto;
   display: inline-block;
   overflow: hidden;
}

.info-piece img {
   width: 10%;
   float: left;
   padding: 15px;
   margin-top: 10px;
}

.info-piece p {
   width: 60%;
   padding-left: 20px;
   float: left;
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
   margin-top: 19px;
}

#social {
   padding-bottom: 15px;
   padding-left: 0;
}

#social li {
   display: inline-block;
   padding: 0 10px 0 10px;
}

#social li img {
   height: 40px;
}

#menu-link {
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
}

#menu-link a {
   text-decoration: none;
   color: #84449b;
}

/** Menu **/
#menu {
   width: 96%;
   text-align: left;
   display: block;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 10px;
}

#menu td, #menu th {
   font-family: 'Lato', sans-serif;
}

#menu td {
   font-weight: 300;
}

#menu td:last-child {
   text-align: right;
}

#menu th {
   font-weight: 700;
}

.Menu-Title {
   font-size: 16pt;
   color: #84449b;
}
