@media screen and (max-width: 800px) {
   .info-piece img {
      width: 15%;
   }

   #menu-container {
      width: 95%;
   }

   #body-image {
      background-size: auto;
   }
}

@media screen and (max-width: 600px) {
   #content-information {
      width: 100%;
      float: right;
   }

   #content-image {
      width: 100%;
      float: left;
      height: 250px;
      background-position: center;
      background-size: 100%;
   }

   #content-image-border {
      border: hidden;
   }

   #IceCreamIcon {
      visibility: hidden;
   }

   #content-information {
      position: absolute;
      top: 450px;
      left: 51.5%;
      transform: translate(-51.5%, -50%);
      background-color: transparent;
   }

   footer {
      margin-top: 30%;
   }
}

@media screen and (max-width: 400px) {
   footer {
      margin-top: 45%;
   }
}
